.container{
    border: 6px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:680px;
    /* width:700px;  */
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    color: teal;
}
h1:hover{
    color: rebeccapurple;
}
.items{
    margin: 10px;
}
.one img{
    width: 200px;
    height:200px;
}
.two img{
    width: 200px;
    height:200px;
}
.three img{
    width: 200px;
    height:200px;
}
.four img{
    width: 200px;
    height:200px;
}
.five img{
    width: 200px;
    height:200px;


}
.six img{
    width: 200px;
    height:200px;

}
.seven img{
    width: 200px;
    height:200px;
}
.eight img{
    width: 200px;
    height:200px;
}
.nine img{
    width: 200px;
    height:200px;
}

